extends layout

block content
	h1= title
	p= tagline

	p Just call 
	code.bigurl= "http://" + hostname + "/convert?xml=[ENCODED URL TO YOUR XML FILE HERE]"
	p and we will respond with a JSON representation of the file.

	form(method='get', action='convert')
		fieldset
			legend= "Try it out!"
				ul
					li
						label(for='xml')= "URL to your XML file"
						input.input-xlarge(type='url', id='xml', name='xml', placeholder='http://example.com/sample.xml')
					li
						input.btn-primary.btn.btn-large(type='submit', value='Convert')